body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1
}

.action {
  cursor: pointer;
}

h1 {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 3rem;
}

#light-bar {
  height: 1rem
}


.no-select {
  user-select: none;
}